html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  background-image: url("../images/styleBackground.jpg");
  text-align: center;
  color: white;
  font-family: 'Berkshire Swash', cursive;
}

.header {
  background-color: #027a95;
  margin-top:0;
  padding: 3% 0 3% 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

h1{
  font-size: 45px;
}

.userInfo {
  margin-bottom: 5%;
}


.gameVariable {
  display: inline-block;
  background-color: #027a95;
  border-radius: 10px;
  width: 20%;
  padding: 5px;
  font-size: 20px;
}

#generatedScore,
#userScore,
#wins,
#losses {
  color: #c09faa;
  font-size: 30px;
}

.playerButtonArea {
  clear: both;
  margin-bottom: 8%;
}

.gameButtons {
  margin: 2%;
  width: 25%;
  max-width: 250px;
  min-width: 150px;
  height: auto;
  transition: 1s;
  border: none;
}

.gameButtons:hover {
  border: 0px black solid;
  transform: scale(1.1);
}

.gameButtons:focus {
  outline: none;
}

.buttonArea {
  margin-bottom: 10%;
}

.userButton {
  width: 40%;
  padding: 20px 30px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 20px;
  transition: 0.5s;
  border-radius: 10px;
}

.userButton:hover {
  background-color: #c09faa;
  color: white;
  border: none;
}

.userButton:focus {
  outline: none;
}

footer {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
background-color: #c09faa;
color: white;
padding: 3% 0 3% 0;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}
