html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  box-sizing: inherit;
  position: relative;
  background-image: url("../images/miningBackground.jpg");
  text-align: center;
  color: white;
  font-family: 'Berkshire Swash', cursive;
}

#generatedScore,
#userScore,
#wins,
#losses {
  color: blue;
}

.playerButtonArea {
  margin-bottom: 5%;
}

.gameButtons {
  border-radius: 50%;
  margin: 2%;
  height: auto;
  max-width: 300px;
  min-width: 100px;
  border: 5px solid white;
}

.gameButtons:hover {
  border: 5px black solid;
}

.buttonArea {
  margin-bottom: 10%;
}

.userButton {
  width: 40%;
  padding: 20px 30px;
  font-family: 'Berkshire Swash', cursive;
}

.userButton:hover {
  background-color: black;
  color: white;
  border: none;
}

footer {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
background-color: black;
color: white;
padding: 3% 0 3% 0;
}
